* {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    background-color: #333;
}

.container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.container a:hover {
    color: #4CAF50;
}
